* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
     }
   
   body {
     background-color: #0a0a13;
     justify-content: center;
     align-items: center;
     display: flex;
     min-height: 100vh;
     font-family: 'Nunito', sans-serif;
    }
   
    .box{
      background-color: rgb(240, 238, 243);
      padding-top: 30px;
      padding: 30px;
      border-radius: 6px;
    }

    .box h1{
        margin-bottom: 40px;
        text-align: center;
        font-size: 23px;
        color: #0e0c14;
    }

    .box h2{
      margin-bottom: 20px;
      text-align: center;
      font-size: 23px;
      color: #0e0c14;
  }

    input {
      padding: 20px;
      user-select: none;
      height: 50px;
      width: 400px;
      border-radius: 6px;
      border: none;
      border: 2px solid #0e0c14;
      outline: none;
      font-size: 20px;
      }
     
     input::placeholder{
       font-size: 20px;
      } 
    
      #button {
        font-size: 18px;
        margin-top: 40px;
        margin-bottom: 40px;
        border: none;
        width: 155px;
        height: 50px;
        text-align: center;
        background-color: #0a0a13;
        display: flex;
        color: rgb(255, 255, 255);
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 5px;  
      }
      
       .btn2{
         margin-left: 85px
       }
      
      #button:hover {
        color: white;
        background-color: #3b2e61;
      }

      #sizeInput {
        margin-bottom: 40px;
      }

      ul {
        list-style-type: none;
      }

    label {
        font-family: 'Nunito', sans-serif;
        font-size: 21px;
        display: inline-block;
        padding: 5px;
      }
    
      input[type="checkbox"] {
        display: inline-block;
            margin-right: 10px;
            border: 2px solid #ccc;
            border-radius: 4px;
            width: 18px;
            height: 18px;
            text-align: center;
            line-height: 20px;
      }  

     